<div class="company-title">
    <h3> company MENU</h3>
</div>

<div class="card">
    <div class="card-body" (click)="showAddProduct()">
        AGREGA PRODUCTOS
    </div>
</div>

<div class="menu" *ngIf="addProduct">
        <div class="card">
                <div class="card-body">
                        <form 
                            #productForm="ngForm"
                            (ngSubmit)="submitForm(productForm.value); productForm.reset()"
                            >
                                <div class="form-group">
                                  <label for="producto">Nombre del Producto</label>
                                  <input 
                                  type="text"
                                  class="form-control"
                                  required
                                  name="producto"
                                  ngModel
                                  >
                                  <label for="descripcion">Descripcion</label>
                                  <input 
                                  type="text"
                                  class="form-control"
                                  required
                                  name="descripcion"
                                  ngModel
                                  >
                                  <label for="descripcion">Categoria</label>
                                 <select name="categoria"
                                        class="form-control"
                                        required
                                        ngModel>
                                        <option value="comida">COMIDAS</option>
                                        <option value="bebida">BEBIDAS</option>
                                        <option value="postre">POSTRES</option>
                                      </select>
                                  <br>
                                  <button type="submit" 
                                  class="btn btn-primary"
                                  [disabled]="!productForm.valid"
                                  >
                                  Agrega Producto
                                </button>
                                </div>
                              </form>
                </div>
            </div>
</div>